/* main built in classes tags Section. This is to modify body,footer or main class ID Ex: a,h1,h2,body,footer */

a {
    text-decoration: none !important;
}


/* End of main built in classes tags */

/*nav section*/
.topheader {
    display: flex;
    width: 100%;
    background-color: #29292F;
}

.signin {
    height: 80px;
    width: 80px;
    margin-left: 80%;

}

.title_shop {
    height: 80px;
    width: 150px;
    margin-left: 40%;

}


.burger_menu,.signin {
    height: 80px;
    width: 80px;
}


.navmenus {
    background-color: #494955;
    width: 100%;
    font-size: 24px;
    display: none;
}

#hover_effect:hover {
    background-color: #5f5f6e;
}

#hover_effect, #hover_effect_selected {
    height: 60px;
    padding-top: 10px;

}

#hover_effect_selected{
    background-color: #29292F;
}



#nav_colour {
    color: #E2E1Df;
}

/* end of nav section */

/*First news section */

.background_box{
    background-color: #29292F;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 1%;
     box-shadow: -7px 10px 7px -2px #E2E1Df;
}

#first_image_size, #sec_images_size{
    height: 500px;
    width: 100%;
    border-radius: 15px;
}

#first_image_size{
    border-radius: 0px 0px 15px 15px;
}


.first_news_text_box{
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 32px;
    padding-top: 15%;
    color: #E2E1Df;
}


/*second news section */

.sec_news_image{
    margin-top: 3%;
}

.sec_news_text_box{
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 32px;
    padding-top: 2%;
    padding-left: 2%;
    color: #E2E1Df;
}

#refrence_name{
    font-family: '-apple-system';
    font-size: 17px;
    padding-top: 10%;
}

#top_refrence_name{
    font-family: '-apple-system';
    font-size: 17px;
}

/* Below boxes section*/

.other_news_info{
    margin-left: 1%;
}

#other_image_size{
    height: 150px;
    width:350px;
    border-radius: 15px;
}

.other_news_info{
    width: 100%;
}

.other_text_area{
    font-family: 'Inter';
    font-size: 16px;
}


