/* main built in classes tags Section. This is to modify body,footer or main class ID Ex: a,h1,h2,body,footer */

a {
    text-decoration: none !important;
}

p {
    margin: 0 !important;
}

/* End of main built in classes tags */

/*nav section*/
.topheader {
    display: flex;
    width: 100%;
    background-color: #29292F;
}

.signin {
    height: 20px;
    width: 20px;
    margin-left: 80%;

}

.title_shop {
    height: 80px;
    width: 150px;
    margin-left: 40%;

}


.burger_menu,
.signin {
    height: 80px;
    width: 80px;

}


.navmenus {
    background-color: #494955;
    width: 100%;
    font-size: 24px;
    display: none;
}

#hover_effect:hover {
    background-color: #5f5f6e;
}

#hover_effect,
#hover_effect_selected {
    height: 60px;
    padding-top: 10px;

}

#hover_effect_selected {
    background-color: #29292F;
}



#nav_colour {
    color: #E2E1Df;
}

/* end of nav section */



.quiztitle_box {
    background-color: #29292F;
    color: #E2E1Df;
}

#title {
    font-family: 'inter';
    font-size: 32px;
    font-weight: bolder;
}

#subtitle {
    font-family: -apple-system;
    font-size: 24px;
}

#question_text_quiz {
    font-family: 'inter';
    font-size: 23px;
    font-weight: 500;
    /* how thick the bold will be */
}

#bullet_question {
    font-family: -apple-system;
    font-size: 20px;
    margin-top: 20%;
}

.bullet_disign{
    display: none;
}

.bullet_disign + label {
    display: flex;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.bullet_disign + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #29292F;
}

.bullet_disign + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: #00b9dc;
    border-radius: 50%;opacity: 0%;
}

.bullet_disign:checked + label::after {
opacity: 100%;
}

#video_fix_size {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px;
}


.taking_quiz_box {
    margin-top: 1%;
}

#box_fixing {
    background-color: #E2E1Df;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    height: 100%;
    padding: 3%;

}

.input_2_question_box {
    margin-top: 1.5%;
    background-color: #29292F;
    color: #E2E1Df;
    font-family: 'inter';
    font-weight: bolder;
}

#question_text_quiz {
    font-size: 34px;
    margin-bottom: 3% !important;
    /* overwrites the first P style settings*/
}

.text_input_1 {
    border-radius: 15px;
    border: solid 0px;
    width: 100%;
    height: 60px;
    margin-top: 40%;
}

.text_input_2 {
    border-radius: 15px;
    border: solid 0px;
    width: 45%;
    height: 60px;
    margin-bottom: 3%;
}

.confirm {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 20px;
    background-color: #000080;
    color: #E2E1Df;
    width: 30%;
    height: 60px;
    border-radius: 15px;
    border: solid 0px;
    /*It's 0px to remove the default boarder button */
}

.confirm:hover {
    background-color: #0000ce;
}



/*This will hide the discount img*/
#discount_size_fix {
    display: none;
    margin-left:  35%;
}