/* main built in classes tags Section. This is to modify body,footer or main class ID Ex: a,h1,h2,body,footer */

a {
    text-decoration: none !important;
}


/* End of main built in classes tags */

/*nav section*/
.topheader {
    display: flex;
    width: 100%;
    background-color: #29292F;
}

.signin {
    height: 20px;
    width: 20px;
    margin-left: 80%;

}

.title_shop {
    height: 80px;
    width: 150px;
    margin-left: 40%;

}


.burger_menu,.signin {
    height: 80px;
    width: 80px;

}


.navmenus {
    background-color: #494955;
    width: 100%;
    font-size: 24px;
    display: none;
}

#hover_effect:hover {
    background-color: #5f5f6e;
}

#hover_effect, #hover_effect_selected {
    height: 60px;
    padding-top: 10px;

}

#hover_effect_selected{
    background-color: #29292F;
}



#nav_colour {
    color: #E2E1Df;
}

/* end of nav section */

.backgroundbox{
    background-color: #29292F;
}


.top_page_box{
    background-color: #E2E1Df;
    height: 100%;
}

.inner_text_area_box{
    margin-left: 3%;
    margin-top: 3%;
    color: #29292F;
    font-size: 24px;
}

#phone_title, #middle_phone_title{
    font-family: 'Inter';
    font-size: 32px;
    font-weight: bolder;
    color: #29292F;
}

#phone_sub_info, #phone_qoutes, #middle_phone_sub_info{
    font-family: -apple-system;
    color: #29292F;
    font-size: 24px;
}

#phone_qoutes{
    padding-top: 5%;
}

.phone_button{
    margin-left: 3%;
}

#phone_size_fixing{
    width: 500px;
    height: 400px;
    margin-left: 7%;
}

#price_buton{
    font-family: 'Inter';
    font-weight:bolder;
    font-size: 20px;
    background-color: #000080;
    color: #E2E1Df;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    border: solid 0px; /*It's 0px to remove the default boarder button */
}

#price_buton:hover{
    background-color: #0000ce;
}

#middle_phone_size_fixing{
    width: 500px;
    height: 400px;
}

.top_page_box_middle{
    background-color: #E2E1Df;
    margin-top: 1%;
}

.middle_inner_text_area_box{
    margin-top: 1%;
    color: #29292F;
    font-size: 24px;
}

.top_page_box_bottom{
    margin-top: 1%;
    background-color: #E2E1Df;
    height: 100%;
}


/*The Last two phone images of Poco M6 and Vivo x100 Section*/

.last_two_below_box{
    margin-top: 1%;
}

#last_2_phones_size_fix{
    height: 350px;
    margin: 7%;
}

.last_2_phones{
    background-color: #E2E1Df;
    width: 50%;
    margin-left: 25%;
    border-radius: 15px;
    margin-bottom: 2%;
}

.last_2_images_box{
    background-color: #ffffff;
    border-radius: 15px;
}

#phone_button_last_2_phones{
    font-family: 'Inter';
    font-weight:bolder;
    font-size: 20px;
    background-color: #000080;
    color: #E2E1Df;
    width: 85%;
    height: 50px;
    border-radius: 15px;
    border: solid 0px; /*It's 0px to remove the default boarder button */
    margin-bottom: 2%;
}

#phone_button_last_2_phones:hover{
    background-color: #0000ce;
}

/* End OF The Last two phone images of Poco M6 and Vivo x100 Section*/

/*Contact Section */

.contact_area_box {
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
}

.items_in_contact_box {
    border: solid 5px #29292F;
    border-radius: 15px;
}

#contact_title {
    padding-top: 2%;
    font-family: "Inter";
    font-weight: bolder;
    font-size: 32px;
    color: #29292F;
}

#contact_sub_title {
    font-family: "apple-system";
    font-size: 24px;
    color: #29292F;
}

.contact_button {
    margin-bottom: 3%;
}

.contact_button_2 {
    border: solid 5px #29292F;
    width: 50%;
    height: 45px;
    border-radius: 15px;
    font-family: 'Inter';
    font-size: 17px;
}

/* End of Contact Section */



