.topheader {
    display: flex;
    width: 100%;
    background-color: #29292F;
}

.signin {
    height: 20px;
    width: 20px;
    margin-left: 80%;

}

.title_shop {
    height: 80px;
    width: 150px;
    margin-left: 40%;

}


.burger_menu, .signin {
    height: 80px;
    width: 80px;

}

#burger_menu_icon {
    stroke: #E2E1Df;
}

#nav_colour:hover {
    background-color: #5f5f6e;
}


#phone_images {
    height: 350px;
}

#home_banner {
    width: 100%;
    height: 450px;
}

.phone_box_image {
    padding-top: 5%;
}

.phone_text_info {
    padding-top: 3%;
    font-family: "Inter";
    font-weight: bolder;
    background-color: #E2E1Df;
    border-radius: 0px 0px 15px 15px;
    box-shadow: -7px 7px 7px -2px #E2E1Df;
    /* first one is to move the shadow left or right, sec moves the shaows up or down, third how much blur, last one bigger or smaller the shadow */
}

#phone_price {
    color: #000080;
    font-weight: bolder;
}

.top_best_section_box {
    margin-top: 2%;
    background-color: #E2E1Df;
}

#title_top_best {
    padding-top: 5%;
    font-family: "Inter";
    font-weight: bolder;
    font-size: 32px;
    color: #29292F;
}

#sub_title_top_best {
    font-family: "apple-system";
    padding-top: 5%;
    font-size: 24px;
    color: #29292F;
}

#image_top_best {
    height: 400px;
    width: 540px;
}

a {
  text-decoration: none !important;
}



#quiz_image{
    width: 99%;
    padding-left: 1%;
}

.new_phone_pages{
    padding-top: 3%;
}

#image_lastest_news, #image_phone_page{
    width: 630px;
    height: 300px;
    border-radius: 15px;
}


.contact_area_box{
    padding-top: 3%;
}

.items_in_contact_box{
    border: solid 5px #29292F;
    border-radius: 15px;
}

#contact_title{
    padding-top: 5%;
    font-family: "Inter";
    font-weight: bolder;
    font-size: 32px;
    color: #29292F;
}

#contact_sub_title{
    font-family: "apple-system";
    font-size: 24px;
    color: #29292F;
}

.contact_button{
    margin-bottom: 3%;
}

.contact_button_2{
    border: solid 5px #29292F;
    width: 50%;
    height: 45px;
    border-radius: 15px;
}