/* main built in classes tags Section. This is to modify body,footer or main class ID Ex: a,h1,h2,body,footer */

a {
    text-decoration: none !important;
}


/* End of main built in classes tags */

/*nav section*/
.topheader {
    display: flex;
    width: 100%;
    background-color: #29292F;
}

.signin {
    height: 20px;
    width: 20px;
    margin-left: 80%;

}

.title_shop {
    height: 80px;
    width: 150px;
    margin-left: 40%;

}


.burger_menu,.signin {
    height: 80px;
    width: 80px;

}


.navmenus {
    background-color: #494955;
    width: 100%;
    font-size: 24px;
    display: none;
}

#hover_effect:hover {
    background-color: #5f5f6e;
}

#hover_effect, #hover_effect_selected {
    height: 60px;
    padding-top: 10px;

}

#hover_effect_selected{
    background-color: #29292F;
}



#nav_colour {
    color: #E2E1Df;
}

/* end of nav section */

/* Form area section */

.form_box{
    background-color: #E2E1Df;
    border-radius: 15px;
    padding: 3%;
    width: 100%;
    height: 100%;
}

.texy_input, .text_input_email{
    border-radius: 15px;
    border: solid 0px;
    width: 100%;
    height: 50px;
}

p{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px !important;
}


.contact_title_box, .form_box{
    margin-left: 2%;
}
#contact_title{
    font-size: 50px;
}

.buttons_box{
    padding-top: 5%;
}

.inner_form_box{
    padding-top:6%;
}

.confirm{
    font-family: 'Inter';
    font-weight:bolder;
    font-size: 20px;
    background-color: #000080;
    color: #E2E1Df;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: solid 0px; /*It's 0px to remove the default boarder button */
}

.reset{
    font-family: 'Inter';
    font-weight:bolder;
    font-size: 20px;
    color: #29292F;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    border: solid 0px; /*It's 0px to remove the default boarder button */
}

.confirm:hover{
    background-color: #0000ce;
}


/* End of Form area Section */

/* Right side section where there are images and Our Location Section */
#image_size_fix{
    margin-left: 5%;
    width: 90%;
    height: 300px;
}

#our_location{
    margin-left: 5%;
    font-size: 24px;
    margin-top: 10%;
}

/* End of Right side section where there are images and Our Location Section */